*
{
    padding:0;
    margin:0;

}
body
{
    background-color: black;
}
.login
{
    background-color: blanchedalmond;
    width:450px;
    margin-top:320px;
    margin-left:30%;
    border-radius: 20%;
}

img
{
    width:100px;
    border-radius: 50%;
    margin-left:40%;
    margin-top:-7%;
}
p
{
    margin-top: 20px;
    margin-left: 10%;
    font-weight: bolder;
    font-size: 15px;
    
}
h3
{
    margin-left: 30%;
}
a
{
    text-decoration: none;
}
input[type="text"]
{
    outline: none;
    background: transparent;
    border-top: 0;
    border-left:0 ;
    border-right:0 ;
    border-bottom:1px solid black ;
}
input[type="email"]
{
    outline: none;
    background: transparent;
    border-top: 0;
    border-left:0 ;
    border-right:0 ;
    border-bottom:1px solid black ;
}
input[type="password"]
{
    outline: none;
    background: transparent;
    border-top: 0;
    border-left:0 ;
    border-right:0 ;
    border-bottom:1px solid black ;
}
input[type="submit"]
{
    border-radius: 20%;
    background-color: red;
    color: white;
    width: 40px;
    font-weight: bold;

}
input[type="submit"]:hover
{
    background-color: green;
    transition: 1s;
    cursor:pointer;
}
h1
{
    color:white;
    margin-left:30%;
    padding-top:20px;
}